version: '3.8'

services:
  twitch_bot:
    build: .
    container_name: twitch_lurk_bot
    restart: always
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    ports:
      - "5000:5000"
